In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/occupational-stressjob-satisfaction-and-performance/Dataset.csv

# Load Libraries and Set Up Kaggle Environment

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from scipy.stats import pearsonr

# Load the Dataset

In [3]:

df= pd.read_csv('/kaggle/input/occupational-stressjob-satisfaction-and-performance/Dataset.csv')

In [4]:
# Display the first few rows of the DataFrame
print(df.head())

   Age  Religion  Ethnicity  Marital status  Marriage period  No. of children  \
0    2         1          1               1                1                1
1    2         1          1               1                2                1
2    2         1          1               1                2                1
3    3         1          1               2                1                2
4    2         1          1               1                1                1

   Educational level  Employment status  Working period  Household income  \
0                  6                  1               4                 7
1                  6                  1               3                 4
2                  6                  1               5                 7
3                  5                  1               5                10
4                  6                  1               3                 5

   ...  JS33  JS34  JS35  JS36  JP1  JP2  JP3  JP4  JP5  JP6
0  ...     5     4     4     4    4    4    4    2    5    5
1  ...     5     3     5     5    5    5    4    5    5    5
2  ...     5     5     5     5    5    5    5    5    5    5
3  ...     4     5     5     5    2    2    2    4    5    5
4  ...     5     5     5     5    5    5    5    5    5    5

[5 rows x 94 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 94 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                309 non-null    int64
 1   Religion           309 non-null    int64
 2   Ethnicity          309 non-null    int64
 3   Marital status     309 non-null    int64
 4   Marriage period    309 non-null    int64
 5   No. of children    309 non-null    int64
 6   Educational level  309 non-null    int64
 7   Employment status  309 non-null    int64
 8   Working period     309 non-null    int64
 9   Household income   309 non-null    int64
 10  Sperm quality      309 non-null    int64
 11  OS1                309 non-null    int64
 12  OS2                309 non-null    int64
 13  OS3                309 non-null    int64
 14  OS4                309 non-null    int64
 15  OS5                309 non-null    int64
 16  OS6                309 non-null    int64
 17  OS7                309 non-null    int64
 18  OS8                309 non-null    int64
 19  OS9                309 non-null    int64
 20  OS10               309 non-null    int64
 21  OS11               309 non-null    int64
 22  OS12               309 non-null    int64
 23  OS13               309 non-null    int64
 24  OS14               309 non-null    int64
 25  OS15               309 non-null    int64
 26  OS16               309 non-null    int64
 27  OS17               309 non-null    int64
 28  OS18               309 non-null    int64
 29  OS19               309 non-null    int64
 30  OS20               309 non-null    int64
 31  OS21               309 non-null    int64
 32  OS22               309 non-null    int64
 33  OS23               309 non-null    int64
 34  OS24               309 non-null    int64
 35  OS25               309 non-null    int64
 36  OS26               309 non-null    int64
 37  OS27               309 non-null    int64
 38  OS28               309 non-null    int64
 39  OS29               309 non-null    int64
 40  OS30               309 non-null    int64
 41  OS31               309 non-null    int64
 42  OS32               309 non-null    int64
 43  OS33               309 non-null    int64
 44  OS34               309 non-null    int64
 45  OS35               309 non-null    int64
 46  OS36               309 non-null    int64
 47  OS37               309 non-null    int64
 48  OS38               309 non-null    int64
 49  OS39               309 non-null    int64
 50  OS40               309 non-null    int64
 51  OS41               309 non-null    int64
 52  JS1                309 non-null    int64
 53  JS2                309 non-null    int64
 54  JS3                309 non-null    int64
 55  JS4                309 non-null    int64
 56  JS5                309 non-null    int64
 57  JS6                309 non-null    int64
 58  JS7                309 non-null    int64
 59  JS8                309 non-null    int64
 60  JS9                309 non-null    int64
 61  JS10               309 non-null    int64
 62  JS11               309 non-null    int64
 63  JS12               309 non-null    int64
 64  JS13               309 non-null    int64
 65  JS14               309 non-null    int64
 66  JS15               309 non-null    int64
 67  JS16               309 non-null    int64
 68  JS17               309 non-null    int64
 69  JS18               309 non-null    int64
 70  JS19               309 non-null    int64
 71  JS20               309 non-null    int64
 72  JS21               309 non-null    int64
 73  JS22               309 non-null    int64
 74  JS23               309 non-null    int64
 75  JS24               309 non-null    int64
 76  JS25               309 non-null    int64
 77  JS26               309 non-null    int64
 78  JS27               309 non-null    int64
 79  JS28               309 non-null    int64
 80  JS29               309 non-null    int64
 81  JS30               309 non-null    int64
 82  JS31               309 non-null    int64
 83  JS32               309 non-null    int64
 84  JS33               309 non-null    int64
 85  JS34               309 non-null    int64
 86  JS35               309 non-null    int64
 87  JS36               309 non-null    int64
 88  JP1                309 non-null    int64
 89  JP2                309 non-null    int64
 90  JP3                309 non-null    int64
 91  JP4                309 non-null    int64
 92  JP5                309 non-null    int64
 93  JP6                309 non-null    int64
dtypes: int64(94)
memory usage: 227.0 KB

In [6]:
df.describe()

,Age,Religion,Ethnicity,Marital status,Marriage period,No. of children,Educational level,Employment status,Working period,Household income,...,JS33,JS34,JS35,JS36,JP1,JP2,JP3,JP4,JP5,JP6
count,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,...,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000
mean,2.165049,1.084142,1.129450,1.100324,1.883495,1.323625,6.019417,1.042071,4.433657,5.132686,...,3.980583,3.922330,3.789644,3.705502,4.207120,4.194175,4.090615,4.042071,4.239482,4.388350
std,0.604589,0.433246,0.560676,0.300918,0.772510,0.557236,1.164802,0.257694,0.882532,2.599675,...,0.833323,0.911927,0.979211,1.032273,0.722425,0.650548,0.754774,0.861238,0.765062,0.682333
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,4.000000,3.000000,...,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
50%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,6.000000,1.000000,5.000000,5.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,7.000000,1.000000,5.000000,7.000000,...,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,5.000000,4.000000,5.000000,2.000000,3.000000,3.000000,9.000000,3.000000,5.000000,10.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000